.vline{
    position: absolute;
    left: 128px;
    border-left: 1px solid #c6c7c8;
    height: 700px;
    
  }

  .right-flex{
    display: flex;
    gap:10px;
  }

  .left-flex{
    width:30px;
    height:21px;
  }
  .h5{
    padding-right: 600px;
  }
  .card{
    border-radius: 5px; /* Adjust the value to control the roundness */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for effect */
    padding: 20px;
    background-color: white;
     /* Increase the width (adjust as needed) */
    height: 30rem; /* Increase the height (adjust as needed) */
    
}