<div class="parent">
 <div class="left-flex">
    <div class="card" style="width: 8rem; height: 12rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">Idol&more</h6>
          
        </div>
    </div>
    <div class="card" style="width: 8rem;height: 12rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">Idol&more</h6>
            
          </div>
    </div>

 </div>
 <div class="vline">
</div>
  

 <h3 style="position: relative; left:200px"> Buy Idol and more online</h3>
 <br>
 <div class="right-flex" style="position:absolute; left:137px">
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div><div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
 </div>

 <div class="right-flex" style="position:absolute; left:137px">
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div><div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
    <div class="card" style="width: 15rem; height: 20rem;">
        <img class="card-img-top" src="../../assets/poojaimage/idol.webp" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title" style="text-align: center;">Idol&more</h6>
            <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            
          </div>
    </div>
 </div>

</div>
