


<div class="parent">
    <div class="left-flex">
        <div class="card" style="width: 8rem; height: 12rem;">
            <a routerLink = "/fresh">
            <img class="card-img-top" src="../../assets/poojaimage/freshfruit.webp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Fresh Fruits</h6>

            </div>
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
           <a routerLink = "/veg">
            <img class="card-img-top" src="../../assets/poojaimage/freshveg.webp" alt="Card image cap">
           </a>
            <div class="card-body">
                <h6 class="card-title">Fresh Vegetables</h6>
            </div>
        
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
            <a routerLink = "/leafy">
            <img class="card-img-top" src="../../assets/poojaimage/leaves.webp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Leafy Vegetables</h6>

            </div>
        </div>

    </div>
    <div class="vline">
    </div>


    <h3 style="position: relative; left:200px"> Buy Fresh Fruits and more online</h3>
    <br>
    <div class="right-flex" style="position:relative; left:137px">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/apple.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Apples</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/orange.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Orange</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/mango.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Mango</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/banana.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Banana</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/pineapple.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Pineapple</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
    </div>
    <div class="break"></div> <!-- break -->
    <div class="start">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/tender.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Tender Coconut</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/papaya.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">papaya</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/guava.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Guava</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/kiwi.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Kiwi</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/capple.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Custard Apple</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
       
        

    </div>
    

</div>
