


<div class="parent">
    <div class="left-flex">
        <div class="card" style="width: 8rem; height: 12rem;">
            <a routerLink = "/fresh">
            <img class="card-img-top" src="../../assets/poojaimage/freshfruit.webp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Fresh Fruits</h6>

            </div>
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
           <a routerLink = "/veg">
            <img class="card-img-top" src="../../assets/poojaimage/freshveg.webp" alt="Card image cap">
           </a>
            <div class="card-body">
                <h6 class="card-title">Fresh Vegetables</h6>
            </div>
        
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
            <a routerLink = "/leafy">
            <img class="card-img-top" src="../../assets/poojaimage/leaves.webp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Leafy Vegetables</h6>

            </div>
        </div>

    </div>
    <div class="vline">
    </div>


    <h3 style="position: relative; left:200px"> Buy Fresh Vegtables and more online</h3>
    <br>
    <div class="right-flex" style="position:relative; left:137px">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/potato.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Potato</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/onion.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Onion</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/bhindi.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Bhindi</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/jackfruit.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Jackfruit</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/cauli.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Cauliflower</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
    </div>
    <div class="break"></div> <!-- break -->
    <div class="start">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/rawbanana.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Raw Banana</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/brinjal.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Brinjal</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/tomato.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Tomato</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/cabbage.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">cabbage</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/yam.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">yam</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
       
        

    </div>
    

</div>
