<div class="parent">
    <div class="child1">
        <img src="../../assets/paan-corner-banner-desktop.webp" alt="image not avialable" width="1700" >
    </div>
    <div class="parent2">
        <div class="card" style="width: 25rem;">
          <a routerLink="/pooja">
            <img class="card-img-top" src="../../assets/pooja_ess.webp" alt="Card image cap">
          </a>  
            
        </div>
        <div class="card" style="width: 25rem;">
          <a routerLink="/pooja">
            <img class="card-img-top" src="../../assets/kanya.webp" alt="Card image cap">
          </a>  
        </div>
        <div class="card" style="width: 25rem;">
          <a routerLink="/pooja">
            <img class="card-img-top" src="../../assets/fasting_need.webp" alt="Card image cap">
          </a>  
        </div>
        <div class="card" style="width: 25rem;">
          <a routerLink="/pooja">
            <img class="card-img-top" src="../../assets/flowers.webp" alt="Card image cap">
            </a>
            <div class="card-body">
            </div>
        </div>
        <div class="card" style="width: 25rem;">
          <a routerLink="/pooja">
          <img class="card-img-top" src="../../assets/navratri.webp" alt="Card image cap">
          </a>
          <div class="card-body">
             
          </div>
      </div>
    </div>
    <!-- <h1 style="color: rgb(var(--color-text))">Explore by categories</h1>  -->

    <h4 class="block font-heading text-lg tracking-wide md:!text-[4.0rem] md:!leading-7" data-testid="category-grid-title" style="color: rgb(var(--color-text));">Explore By Categories</h4>
    <div class="parent_explore">

      
      
      <div class="card" style="width: 18rem;">
        <a routerLink="/pooja">
        <img class="card-img-top" src="../../assets/fruits.webp" alt="Card image cap">
        </a>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    
    <div class="card" style="width: 18rem;">
      <a routerLink="/pooja">
        <img class="card-img-top" src="../../assets/Atta.webp" alt="Card image cap">
        </a>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
      <a routerLink="/pooja">
      <img class="card-img-top" src="../../assets/dryfruits.webp" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <a routerLink="/pooja">
      <img class="card-img-top" src="../../assets/masala.webp" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <a routerLink="/pooja">
      <img class="card-img-top" src="../../assets/sweeet.webp" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <br>
    <div class="card" style="width: 18rem;">
      <a routerLink="/pooja">
      <img class="card-img-top" src="../../assets/bread.webp" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>


    </div>
    <div class="flashsales">
      <img src="flashsales.webp">
    </div>
  </div>
  
  
