<head> <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet"></head>
<nav class="navbar navbar-dark">
  <div class="parent">
  <a routerLink="/home"><img class="img" src="../assets/primary-logo.svg"></a>
  <a routerLink="/login"><img class="img1" src="../assets/poojaimage/login1.jfif"  ></a>
  <i class="fa badge fa-lg" value=8 style="position: absolute; left :90%; top: 18px;">&#xf07a;</i>
  <span class="del-css">Delivery in 10 mins</span>
  <span class="del-css"> &nbsp;HRBR layout 2nd block</span>
  
  <form class="form-inline">
    
    <input id="search-inp" class="inp form-control mr-sm-2" type="search" [placeholder]="currentPlaceholder" aria-label="Search" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>   
  </form>
  
</div>
</nav>
<router-outlet></router-outlet>
