


<div class="parent">
    <div class="left-flex">
        <div class="card" style="width: 8rem;height: 12rem;">
            <a routerLink = "/cup">
             <img class="card-img-top" src="../../assets/poojaimage/cups.jfif" alt="Card image cap">
            </a>
             <div class="card-body">
                 <h6 class="card-title">Cup & more</h6>
             </div>
         
         </div>
        <div class="card" style="width: 8rem; height: 12rem;">
            <a routerLink = "/gift">
            <img class="card-img-top" src="../../assets/poojaimage/idol.jfif" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Idol & more</h6>

            </div>
        </div>
        
        <div class="card" style="width: 8rem;height: 12rem;">
            <a routerLink = "/frames">
            <img class="card-img-top" src="../../assets/poojaimage/frames.webp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Frames</h6>

            </div>
        </div>

    </div>
    <div class="vline">
    </div>


    <h3 style="position: relative; left:200px"> Buy Cups and more online</h3>
    <br>
    <div class="right-flex" style="position:relative; left:137px">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/frame4.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Frame 4</h6>
                <button class="btn btn-outline-danger" style="position: relative; left:30px; " (click)="changeText('#add-frame4')" id="add-frame4">add to cart</button>
                

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/frame5.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Frame 5</h6>
                <button class="btn btn-outline-danger" style="position: relative; left:30px" (click)="changeText('#add-frame5')" id="add-frame5">add to cart</button>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/frame6.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Frame 6</h6>
                <button class="btn btn-outline-danger" style="position: relative; left:30px; " (click)="changeText('#add-frame6')" id="add-frame6">add to cart</button>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/frame7.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Frame 7</h6>
                <button class="btn btn-outline-danger" style="position: relative; left:30px" (click)="changeText('#add-frame7')" id="add-frame7">add to cart</button>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/frame8.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Frame 8</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
    </div>
    <div class="break"></div> <!-- break -->
    <div class="start">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/frame9.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Frame 9</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/frame10.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Frame 10</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/mug8.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Mug 8</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/mug9.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Mug 9</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/mug10.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Mug 10</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
       
        

    </div>
    

</div>