<div class="parent">
    <div class="left-flex">
        <div class="card" style="width: 8rem; height: 12rem;">
            <a routerLink = "/poojaitemidol">
            <img class="card-img-top" src="../../assets/poojaimage/idol.jfif" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Idol & more</h6>

            </div>
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
           <a routerLink = "/poojaitemdiya">
            <img class="card-img-top" src="../../assets/poojaimage/diya.jfif" alt="Card image cap">
           </a>
            <div class="card-body">
                <h6 class="card-title">Diya & More</h6>
            </div>
        
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
            <a routerLink = "/poojaitemflower">
            <img class="card-img-top" src="../../assets/poojaimage/flower.jfif" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Flower</h6>

            </div>
        </div>

    </div>
    <div class="vline">
    </div>


    <h3 style="position: relative; left:200px"> Buy Diya and more online</h3>
    <br>
    <div class="right-flex" style="position:relative; left:137px">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/diya1.webp" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Clay Diyas</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/dhoop.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Dhoop cone</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/kapoor.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">kapoor</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/rui.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Cotton wicks</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/agarbatti.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Agarbatti</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
    </div>
    <div class="break"></div> <!-- break -->
    <div class="start">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/pujaoil.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Puja Oil</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/metaldiya.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Metal Diya</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/diyastand.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Diya Stand</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/pujakapda.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Puja Kapda</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/kalashimage.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Kalash Image</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
       
        

    </div>
    

</div>