<div class="toys1">
   <img src="../../assets/Toysforkids/toys1.webp" width="1200px;" height="600px;">
</div>
<div class="space">

</div>
<div class="explorebest">
    <img src="../../assets/Toysforkids/explore_best.webp">

</div>
<div class="content">
    
    <a routerLink="/teddy"> <img src="../../assets/Toysforkids/dog.webp" alt="image not found" class="rounded-circle"></a>
    <img src="../../assets/Toysforkids/remote.webp" alt="image not found" class="rounded-circle">
    <img src="../../assets/Toysforkids/car.webp" alt="image not found" class="rounded-circle">

</div>
