<div class="toys1">
    <img src="../../assets/diwaligames/diwali.webp" width="1200px;" height="600px;">
 </div>
 <div class="space">
 
 </div>
 <div class="explorebest">
     <img src="../../assets/Toysforkids/explore_best.webp">
 
 </div>
 <div class="content">
     
    
     
 </div>
 
<div class="parent">

    <div class="right-flex" style="position:relative; left:137px">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/diwaligames/casino1.webp" alt="Card image cap" width='210' height='180' class="rounded-circle">
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;"></h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/diwaligames/casino2.webp" alt="Card image cap" width='210' height='180' class="rounded-circle">
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;"></h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/diwaligames/casino3.webp" alt="Card image cap" width='210' height='180' class="rounded-circle">
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;"></h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/diwaligames/casino4.webp" alt="Card image cap" width='210' height='180'class="rounded-circle">
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;"></h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
       
    </div>
    <div class="explore">
        <a routerLink="/comingsoon">
            <img src="../../assets/diwaligames/exploremore.webp">
    </a>
    </div>
    
</div>