


<div class="parent">
    <div class="left-flex">
        <div class="card" style="width: 8rem; height: 12rem;">
            <a routerLink = "/fresh">
            <img class="card-img-top" src="../../assets/poojaimage/freshfruit.webp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Fresh Fruits</h6>

            </div>
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
           <a routerLink = "/veg">
            <img class="card-img-top" src="../../assets/poojaimage/freshveg.webp" alt="Card image cap">
           </a>
            <div class="card-body">
                <h6 class="card-title">Fresh Vegetables</h6>
            </div>
        
        </div>
        <div class="card" style="width: 8rem;height: 12rem;">
            <a routerLink = "/leafy">
            <img class="card-img-top" src="../../assets/poojaimage/leaves.webp" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-title">Leafy Vegetables</h6>

            </div>
        </div>

    </div>
    <div class="vline">
    </div>


    <h3 style="position: relative; left:200px"> Buy Fresh Fruits and more online</h3>
    <br>
    <div class="right-flex" style="position:relative; left:137px">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/palak.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Spinach</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/redspinach.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Red Spinach</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/methi.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Methi Leaves</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/corriander.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Corriander Leaves</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/curry.webp" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Curry Leaves</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
    </div>
    <div class="break"></div> <!-- break -->
    <div class="start">
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/malabarspinach.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Malabar Spinach</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/moringa.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Moringa Leaves</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/greenonion.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Green Onion Leaves</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/waterspinach.webp" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Water Spinach</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
        <div class="card" style="width: 15rem; height: 20rem;">
            <img class="card-img-top" src="../../assets/poojaimage/rapini.jfif" alt="Card image cap" width='210' height='180'>
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">Rapini Leaves</h6>
                <a href="#" class="btn btn-outline-danger" style="position: relative; left:30px">add to cart</a>

            </div>
        </div>
       
        

    </div>
    

</div>

